.todo-container {
  max-width: 400px;
  margin: 20px auto;
  font-family: sans-serif;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

input[type="checkbox"] {
  transform: scale(0.9);
  margin-right: 10px;
}

li span {
  font-size: 18px;
  flex: 1;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-left: 10px;
}
